<?xml version="1.0"?>
<config>
    <modules>
        <LCB_SnapWidget>
            <version>0.1.0</version>
        </LCB_SnapWidget>
    </modules>
    <frontend>
        <layout>
            <updates>
                <snapwidget>
                    <file>snapwidget.xml</file>
                </snapwidget>
            </updates>
        </layout>
    </frontend>
    <global>
        <helpers>
            <snapwidget>
                <class>LCB_SnapWidget_Helper</class>
            </snapwidget>
        </helpers>
        <blocks>
            <snapwidget>
                <class>LCB_SnapWidget_Block</class>
            </snapwidget>
        </blocks>
    </global>
</config> 